.nav-container{
    display: flex;   
    justify-content: space-between;
    height: 7vh;
    padding: 0 1.5vw;
    box-shadow: 0px 0.2px rgba(128, 128, 128, 0.569);
}

.nav-container .left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.nav-container .left div:nth-child(2){
    display: flex;
    align-items: center;
    background-color: rgba(221, 219, 219, 0.291);
    border-radius: 15px;
    padding: 2px;
}

.nav-container .left input{
    height: 4vh;
    width: 15vw;
    border: none;
    background: transparent;
    margin-left: 2px;
}


.nav-container .right{
    display: flex;
    align-items: center;
    width: 10vw;
    justify-content: space-between;
}

.nav-container .right div:nth-child(1){
    display: flex;
    align-items: center;
    color: gray;
    justify-content: space-between;
    width: 5vw;
    cursor: pointer;
}

.nav-container .right div:nth-child(2){
    background-color: rgb(92,143,50);
    height: 55%;
    width: 22%;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}